{% include 'header.html' %}
<header>
	<div class="header-tel">
		<nav class="menu-tel">
			<input type="checkbox" id="toggle-menu" class="check-menu">
			<label for="toggle-menu" class="menu-icon">
				<span class="nav-burger">
					&nbsp
				</span>
			</label>
			<div class="nav-wrapper">
				<div class="nav-elms">
					<a href="colles">Khôlles</a><br>
					<a href="taf">Travail à faire</a>
				</div>
			</div>
		</nav>
	</div>
	<nav class="header-pc">
		<div class="logo">
			<a href="http://www.ptsi-chaptal.fr" target="blank">PTSI Chaptal 2020-2021</a>
		</div>
		<div class="liste">
			<a href="colles">Khôlles</a>
			<a href="taf">Travail à faire</a>
		</div>
	</nav>
</header>

<body>
    <label><a href="/admin">-ajouter un sujet-</a></label>
    <form action="#">
        <label for="Smatiere">Choisissez la matiere :</label>
	    <select name="Smatiere" onchange='this.form.submit();' selected="Fr">
            <option value="All">--Toutes--</option>
	        {% for val, matiere in matiere_list.items %}
	            {% if val == val_selected %}
                    <option value={{val}} selected>{{matiere}}</option>
	            {% else %}
                    <option value={{val}}>{{matiere}}</option>
                {% endif %}
	        {% endfor %}
        </select>
	</form>
	{% for sujet in latest_sujet_list %}
	    <!--h1>{{sujet.pub_date}}</h1-->
	    <div>
            <img src="{{ sujet.image.url }}" alt="" width="100%">
        </div>
	{% endfor %}
</body>
</html>