{% include 'header.html' %}
<header>
	<div class="header-tel">
		<nav class="menu-tel">
			<input type="checkbox" id="toggle-menu" class="check-menu">
			<label for="toggle-menu" class="menu-icon">
				<span class="nav-burger">
					&nbsp
				</span>
			</label>
			<div class="nav-wrapper">
				<div class="nav-elms">
					<a href="colles">Khôlles</a><br>
					<a href="taf">Travail à faire</a>
				</div>
			</div>
		</nav>
	</div>
	<nav class="header-pc">
		<div class="logo">
			<a href="http://www.ptsi-chaptal.fr" target="blank">PTSI Chaptal 2020-2021</a>
		</div>
		<div class="liste">
			<a href="colles">Khôlles</a>
			<a href="taf" id="actif">Travail à faire</a>
		</div>
	</nav>
</header>
<body>
	<div class="center">
		<h1>Devoirs - {{num_semaine}}:</h2>
		{% for date, events_list in dict_taf.items %}
		<div class="container">
			<h2 class="date">{{date}}</h2>
			{% for event in events_list %}
			<h3 class="matiere" style="color:{{event.3}}">{{event.1}}</h3>
			<div class="contenu">{{event.2|safe}}</div>
		{% endfor %}
		</div>
		{% endfor %}
	</div>
</body>
</html>